@use '@styles/utils' as utils;

// prettier-ignore
:host {
  ---time-shift-time-entries-background-even: var(--time-shift-time-entries-background-even, var(--time-shift-color-white));
  ---time-shift-time-entries-background-odd: var(--time-shift-time-entries-background-odd, var(--time-shift-color-grey-095));

  ---time-shift-time-entries-header-size: var(--time-shift-time-entries-header-size, 1.125rem);

  ---time-shift-time-entries-sort-size: var(--time-shift-time-entries-sort-size, 1.5em);
  ---time-shift-time-entries-sort-asc: var(--time-shift-time-entries-sort-asc, '▴');
  ---time-shift-time-entries-sort-desc: var(--time-shift-time-entries-sort-desc, '▾');
}

:host {
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  gap: utils.space(1);

  &:first-of-type {
    justify-content: space-between;
  }

  time-shift-duration {
    flex: 1 1 100%;
  }

  time-shift-button-group {
    margin-left: auto;
  }
}

time-shift-time-entries-header {
  position: sticky;
  top: utils.space(-2);
  margin-top: utils.space(-2);
  padding: utils.space(2) 0;
  z-index: 1;
}

time-shift-data-table {
  --time-shift-table-row-color-background-even: var(---time-shift-time-entries-background-even);
  --time-shift-table-row-color-background-odd: var(---time-shift-time-entries-background-odd);

  --time-shift-table-header-cell-font-size: var(---time-shift-time-entries-header-size);
  --time-shift-table-header-cell-sort-size: var(---time-shift-time-entries-sort-size);
  --time-shift-table-header-cell-sort-asc: var(---time-shift-time-entries-sort-asc);
  --time-shift-table-header-cell-sort-desc: var(---time-shift-time-entries-sort-desc);

  --time-shift-table-cell-border-width: 0;
  --time-shift-table-cell-cursor: pointer;
  --time-shift-table-cell-spacing: #{utils.space(0.65)};

  label {
    display: flex;
    flex-direction: row;
    gap: utils.space(0.5);
  }
}
