// prettier-ignore
:host {
  ---time-shift-table-cell-color-border: var(--time-shift-table-cell-color-border, currentColor);
  ---time-shift-table-cell-border-width: var(--time-shift-table-cell-border-width, 1px);
  ---time-shift-table-cell-cursor: var(--time-shift-table-cell-cursor, initial);
  ---time-shift-table-cell-font-size: var(--time-shift-table-cell-font-size, 1.4rem);
  ---time-shift-table-cell-line-height: var(--time-shift-table-cell-line-height, 1.25);
  ---time-shift-table-cell-spacing: var(--time-shift-table-cell-spacing, var(--time-shift-base-space, 10px));
}

:host {
  display: table-cell;
  padding: var(---time-shift-table-cell-spacing);
  position: relative;

  border: solid var(---time-shift-table-cell-color-border);
  border-width: 0 0 var(---time-shift-table-cell-border-width);

  font-family: var(--time-shift-font-face-default);
  font-size: var(---time-shift-table-cell-font-size);
  line-height: var(---time-shift-table-cell-line-height);
  vertical-align: middle;
  white-space: nowrap;

  cursor: var(---time-shift-table-cell-cursor);
}

:host(:first-of-type) {
  padding-left: 0;
}

:host(:last-of-type) {
  padding-right: 0;
}

// drag-and-drop
:host([draggable]) {
  cursor: pointer;
}

:host([draggable][dragging]),
:host([dragged-over]) {
  cursor: move;
  // HINT: this does not work completely as the selection
  // is restored right after dropping the rows
  // user-select: none;
}

:host([draggable][dragging]) {
  background: var(--time-shift-color-GS-115);
}

:host([dragged-over])::before {
  position: absolute;

  content: '';
  display: block;
  background-color: var(--time-shift-color-GS-80);
}

:host([dragged-over='top'])::before,
:host([dragged-over='bottom'])::before {
  height: calc(var(---time-shift-table-cell-border-width) * 2);
  left: 0;
  right: 0;
}

:host([dragged-over='right'])::before,
:host([dragged-over='left'])::before {
  width: calc(var(---time-shift-table-cell-border-width) * 2);
  bottom: 0;
  top: 0;
}

:host([dragged-over='top'])::before {
  top: calc(var(---time-shift-table-cell-border-width) * -2);
}

:host([dragged-over='right'])::before {
  right: calc(var(---time-shift-table-cell-border-width) * -1);
}

:host([dragged-over='bottom'])::before {
  bottom: calc(var(---time-shift-table-cell-border-width) * -1);
}

:host([dragged-over='left'])::before {
  left: calc(var(---time-shift-table-cell-border-width) * -2);
}

.content {
  display: flex;
  align-items: center;

  :host([multiline]) & {
    overflow: hidden;
    white-space: normal;
    word-break: keep-all;
  }

  :host([alignment='left']) & {
    justify-content: flex-start;
  }

  :host([alignment='center']) & {
    justify-content: center;
  }

  :host([alignment='right']) & {
    justify-content: flex-end;
  }
}
