@use '@styles/utils' as utils;

p {
  margin: 0;
  font-size: 1.3rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: utils.space();
  margin: 0;
  padding: 0;
}

li {
  list-style: none;

  a {
    display: flex;
    flex-direction: column;
    padding: utils.space();

    font-size: 1.3rem;
    text-decoration: inherit;

    border: 2px solid var(--time-shift-color-grey-080);
    border-radius: 5px;
    background-color: var(--time-shift-color-grey-080);
    color: inherit;

    &.active {
      background-color: var(--time-shift-color-grey-085);
    }

    strong {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
}
