@use '@styles/utils' as utils;

// prettier-ignore
:host {
  ---time-shift-fieldset-legend-font-size: var(--time-shift-fieldset-legend-font-size, 1.6em);
  ---time-shift-fieldset-description-font-size: var(--time-shift-fieldset-description-font-size, 1.3rem);
}

:host {
  display: block;
}

:host(:not(:last-child)) {
  margin-bottom: utils.space(2);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  > div {
    display: flex;
    flex-direction: column;
    gap: utils.space();
  }
}

legend {
  margin-bottom: utils.space();
  padding: 0;

  font-size: var(---time-shift-fieldset-legend-font-size);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  &:has(+ p) {
    margin-bottom: utils.space(0.5);
  }
}

p {
  margin: 0 0 utils.space();
  font-size: var(---time-shift-fieldset-description-font-size);
}
