@use '@styles/utils' as utils;

:host {
  ---time-shift-fieldset-legend-font-size: var(--time-shift-fieldset-legend-font-size, 1.4rem);
}

:host {
  display: block;
}

:host(:not(:last-child)) {
  margin-bottom: utils.space(2);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  > div {
    display: flex;
    flex-direction: column;
    gap: utils.space();
  }
}

legend {
  margin-bottom: utils.space();
  padding: 0;

  font-size: var(---time-shift-fieldset-legend-font-size);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
